<body>
<div id="frame">
	<div id="sidepanel">
		<div id="profile">
			<div class="wrap">
				<img id="profile-img" [src]="'/assets/'+ socketService.currentUserName + '.jpg'" class="online" alt="" />
				<p>{{socketService.currentUserName}}</p>
				<i class="fa fa-chevron-down expand-button" aria-hidden="true"></i>
				<div id="status-options">
					<ul>
						<li id="status-online" class="active"><span class="status-circle"></span> <p>Online</p></li>
						<li id="status-away"><span class="status-circle"></span> <p>Away</p></li>
						<li id="status-busy"><span class="status-circle"></span> <p>Busy</p></li>
						<li id="status-offline"><span class="status-circle"></span> <p>Offline</p></li>
					</ul>
				</div>
				<div id="expanded">
					<label for="twitter"><i class="fa fa-facebook fa-fw" aria-hidden="true"></i></label>
					<input name="twitter" type="text" value="mikeross" />
					<label for="twitter"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i></label>
					<input name="twitter" type="text" value="ross81" />
					<label for="twitter"><i class="fa fa-instagram fa-fw" aria-hidden="true"></i></label>
					<input name="twitter" type="text" value="mike.ross" />
				</div>
			</div>
		</div>
		<div id="search">
			<label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
			<input type="text" placeholder="Search contacts..." />
		</div>
		<div id="contacts">
			<ul>
				<li class="contact" *ngFor="let userDetail of socketService.users; let i = index">
					<div class="wrap" (click)="onSelectUser(i)">
						<span class="contact-status" [ngClass]="getStatusColor(userDetail.status)" ></span>
						<img [src]="'/assets/'+ userDetail.username + '.jpg'" alt="" />
						<div class="meta">
							<p class="name">{{userDetail.username}}</p>
							<p class="preview">{{userDetail.status}}</p>
						</div>
					</div>
				</li>				
			</ul>
		</div>
		<div id="bottom-bar">
			<button id="addcontact"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>Add contact</span></button>
			<button id="settings"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> <span>Settings</span></button>
		</div>
	</div>
	<div class="content">
		<div class="contact-profile">
			<img [src]="'/assets/'+ selectedUser + '.jpg'" alt="" />
			<p>{{selectedUser}}</p>
			<div class="social-media">
				<i class="fa fa-facebook" aria-hidden="true"></i>
				<i class="fa fa-twitter" aria-hidden="true"></i>
				 <i class="fa fa-instagram" aria-hidden="true"></i>
			</div>
		</div>
		<div class="messages">
			<ul >
				<li [ngClass]="messageObj.status"*ngFor="let messageObj of socketService.messageArray; let i = index">
					<img [src]="'/assets/'+ messageObj.senderName + '.jpg'" [title]="messageObj.senderName" *ngIf="messageObj.status == 'receive'"/>
					<img [src]="'/assets/'+ socketService.currentUserName + '.jpg'" [title]="socketService.currentUserName" *ngIf="messageObj.status == 'sent'"/>
					<p>{{messageObj.message}}</p>
				</li>
			</ul>
		</div>
		<div class="message-input">
			<div class="wrap">
			<input type="text" placeholder="Write your message..." [(ngModel)]="inputMessage" [disabled]="!selectedUser" (keyup)="$event.keyCode==13 && onSentMessage()"/>
			<i class="fa fa-paperclip attachment" aria-hidden="true"></i>
			<button class="submit" (click)="onSentMessage()" [disabled]="!selectedUser"><i class="fa fa-paper-plane" aria-hidden="true"  ></i>Send</button>
			</div>
		</div>
	</div>
</div>
</body>